@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.cms.businesslogic.member;
@using Umbraco.Core.Services;

@{
    Layout = null;

    var loginStatusModel = Members.GetCurrentLoginStatus();
    // Get the member
    var member = Members.GetCurrentMember();
    var profile = Umbraco.TypedMember(member.Id);
    var profilePic = profile.GetCropUrl("memberProfilePicture", "profilePic");
    var miniProfilePic = profile.GetCropUrl("memberProfilePicture", "miniProfilePic");

    string clientPicUrl = "/img/placeholders/company.png";
    string clientName = "None Selected";
    string clientShortCode = null;

    var clientId = member.GetPropertyValue("lastClient");
    if (clientId != null)
    {
        IPublishedContent clientProfile = Umbraco.Content(clientId);
        if (clientProfile != null)
        {
            clientName = clientProfile.Name;
            var clientShortCodeProperty = clientProfile.GetPropertyValue("clientCode");
            clientShortCode = (clientShortCodeProperty == null) ? "-NONE-" : clientShortCodeProperty.ToString();

            clientPicUrl = (string.IsNullOrEmpty(clientProfile.GetCropUrl("clientLogo", "square"))) ? "/img/placeholders/company.png" : clientProfile.GetCropUrl("clientLogo", "square");
        }
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>BuckAZ - Job Manager</title>

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css" />

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="/css/libs/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/App_Plugins/IconPicker/css/umbraco-icons.css" />
    <link rel="stylesheet" type="text/css" href="/App_Plugins/IconPicker/css/addon-icons.css" />
    <link rel="stylesheet" type="text/css" href="/css/libs/nanoscroller.css" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="/css/compiled/theme_styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

    <!-- this page specific styles -->
    @RenderSection("pageCss", false)

    <!-- Favicon -->
    <link type="image/x-icon" href="favicon.png" rel="shortcut icon" />

    <!-- google font libraries -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="/scripts/libs/html5shiv.js"></script>
        <script src="/scripts/libs/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">

        if (sessionStorage.getItem('clientName') === null) {
            sessionStorage.setItem('clientName', "@clientName");
        }

        if (sessionStorage.getItem('clientId') === null) {
            sessionStorage.setItem('clientId', "@clientId");
        }

        if (sessionStorage.getItem('clientShortCode') === null) {
            sessionStorage.setItem('clientShortCode', "@clientShortCode");
        }
    </script>

    @RenderSection("topScripts", required: false)
</head>
<body class="pace-done theme-whbk">

    <!-- Standard Bootstrap Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Logout</h4>
                </div>
                <div class="modal-body">
                    @Umbraco.RenderMacro("LoginStatus")

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="theme-wrapper">
        <header class="navbar" id="header-navbar">
            <div class="container">
                <a href="/" id="logo" class="navbar-brand">
                    <img src="/img/btjm-logo.png" alt="" class="normal-logo logo-white" />
                    <img src="/img/btjm-logo-black.png" alt="" class="normal-logo logo-black" />
                    <img src="/img/btjm-logo-small.png" alt="" class="small-logo hidden-xs hidden-sm hidden" />
                </a>

                <div class="clearfix">
                    <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>

                    <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                        <ul class="nav navbar-nav pull-left">
                            <li>
                                <a class="btn" id="make-small-nav">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="nav-no-collapse pull-right" id="header-nav">
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown profile-dropdown" id="profile-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="@miniProfilePic" alt="" />
                                    <span class="hidden-xs">@loginStatusModel.Name</span> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/user-profile/"><i class="fa fa-user"></i>Profile</a></li>
                                </ul>
                            </li>
                            <li class="hidden-xxs">
                                <a data-toggle="modal" href="#myModal">
                                    <i class="fa fa-power-off"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div id="page-wrapper" class="container">
            <div class="row">
                <div id="nav-col">
                    <section id="col-left" class="col-left-nano">
                        <div id="col-left-inner" class="col-left-nano-content">
                            <div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown">
                                <img alt="Client Image" src="@clientPicUrl" />
                                <div class="user-box">
                                    <span class="name">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            @clientName
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="user-profile.html"><i class="fa fa-user"></i>Profile</a></li>
                                            <li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
                                            <li><a href="#"><i class="fa fa-envelope-o"></i>Messages</a></li>
                                            <li><a href="#"><i class="fa fa-power-off"></i>Logout</a></li>
                                        </ul>
                                    </span>
                                    <span class="status">
                                        <i class="fa fa-circle"></i> Online
                                    </span>
                                </div>
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                                @Umbraco.RenderMacro("MainNavigation", new { startNodeId = "1064" })
                            </div>
                        </div>
                    </section>
                    <div id="nav-col-submenu"></div>
                </div>
                <div id="content-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            @RenderBody()
                        </div>
                    </div>

                    <footer id="footer-bar" class="row">
                        <p id="footer-copyright" class="col-xs-12">
                            BUCKAZ Tools - Job Manager
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </div>


    <!-- global scripts -->
    <script src="/scripts/libs/jquery.js"></script>
    <script src="/scripts/libs/bootstrap.js"></script>
    <script src="/scripts/libs/jquery.nanoscroller.min.js"></script>

    <!-- this page specific scripts -->
    @RenderSection("pageScripts", false)

    <!-- theme scripts -->
    <script src="/scripts/libs/scripts.js"></script>
    <script src="/scripts/libs/pace.min.js"></script>

    <!-- this page specific inline scripts -->
    <script>
    </script>
</body>
</html>