@inherits Umbraco.Web.Macros.PartialViewMacroPage


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the css class "current".
*@

@{ 
	
	var startNodeId = Model.MacroParameters["startNodeId"];
	var portalType = Model.MacroParameters["portalType"];
	var startNode = Umbraco.Content(startNodeId);
    var selection = startNode.Children.Where("Visible");
	
	@*var selection = CurrentPage.Site().Children.Where("Visible"); *@
}

<ul class="nav nav-pills nav-stacked">
	@*
	<li class="@(startNode.IsEqual(CurrentPage) ? "active" : null)">
    	<a href="@startNode.Url">
			<i class="@startNode.pageIcon"></i>
			<span>@portalType @startNode.Name</span>
		</a>
   	</li>
	*@
	
    @foreach (var item in selection)
    {
		if(item.DocumentTypeAlias == "menuSections"){
			
			<li class="nav-header nav-header-first hidden-sm hidden-xs">
				@item.Name
			</li>
		}else{
			<li class="@(item.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
            	<a href="@item.Url">
					<i class="@item.pageIcon"></i>
					<span>@item.Name</span>
				</a>
        	</li>
		}

    }
</ul>